{% for footer-i in (1..2) %}
{% unless page.legacy and footer-i == 1 %}
<div id="footerwrap" class="tuna-foot-{{ footer-i }}"{% if page.legacy %} style="visibility: visible;"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <h4>About</h4>
        <p class="thuhidden">
          <div>本站由 <a href="https://github.com/Arnie97">Arnie97</a> 运行维护，</div>
          <div><a href="https://github.com/mirrors-tk">相关源码可在 {% fa_svg fab.fa-github %} GitHub 获取</a>。</div>
        </p>
        <p class="thuhidden">
          本站不对欧盟成员国及美国提供服务。
        </p>
      </div>
      <div class="col-lg-8 col-md-6{% if page.legacy %} col-xs-4{% endif %}">
        <h4>Sponsors</h4>
        <div class="img-responsive thuhidden">
          <a href="https://packages.aliyun.com" target="_blank">
            <img class="logo" src="/static/img/aliyun.svg">
          </a>
          |
          <a href="https://cloud.tencent.com" target="_blank">
            <img class="logo" src="https://help-assets.codehub.cn/enterprise/guanwang/tencent-cloud-white.svg">
          </a>
          |
          <a href="https://coding.net" target="_blank">
            <img class="logo" src="https://help-assets.codehub.cn/enterprise/guanwang/CODING-logo-white.svg">
          </a>
          |
          <a href="https://freenom.com" target="_blank">
            <img class="logo" src="/static/img/freenom.svg">
          </a>
        </div>
        <p class="thuhidden">
          本站部分存储资源由<a href="https://packages.aliyun.com">阿里云计算有限公司</a>与<!--
          --><a href="https://coding.net">深圳市腾云扣钉科技有限公司</a>提供，<!--
          -->域名由 <a href="https://freenom.com">Freenom</a> 提供。
        </p>
        <p>
          本站首页由<a href="https://tuna.moe">清华大学学生网络与开源软件协会</a>设计，<!--
          --><a href="https://icons8.com/icon/121346/cat">Logo 图标由 Icons8 授权使用</a>。
        </p>
        <p class="thuhidden">
          {{ site.title }} 感谢以上组织对开源软件和社区的贡献。
        </p>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->
{% endunless %}
{% endfor %}

<script>
WebFont.load({
  custom: {
    families: ['Lato']
  }
});
</script>

{% fa_svg_generate %}
